@import url(reset.css);

html {
    -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
    background: linear-gradient(to right, rgb(246, 177, 73), rgb(248, 87, 45), rgb(223, 42, 51), rgb(162, 37, 67), rgb(107, 49, 45))
}

body {
    overflow-x: hidden;
}

/* LAYOUT */
.container {
    height: 100%;
    width: 100%;
}

.slim {
    width: 572px;
    margin: 0 auto;
    
    transform-origin: bottom;
}

.slim p {
    font-family: "Merriweather", sans-serif;
}

#footer-about {
    padding-top: 160px;
}

.footer p {
    font-family: "Merriweather", sans-serif;
}


.EXPworkshop-container, .EXPabout-container {
    border: 1px solid white; 
    position: absolute; 
/*    background: #fff; */
    z-index: -10;

    transition-property: all;            

    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.grid-content {
    color: #333;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 3%;
    background: #fff;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.open .grid-content, .open .slim {
    opacity: 1;
    height: auto;
    overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
    pointer-events: auto;
    -webkit-transition: opacity 0.5s 0.8s;
    transition: opacity 0.5s 0.8s;
}

.morphable, .grid, .slim {
    opacity: 0;
    -webkit-transform: translate3d(0,100px,0);
    -ms-transform: translateY(100px);
        transform: translateY(100px);
    -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
    transition: transform 0.8s, opacity 0.8s;
}

.open .morphable:first-child, .open .grid:first-child,   {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.open .morphable:nth-child(2), .open .grid:nth-child(2) {
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

.open .morphable:nth-child(3), .open .grid:nth-child(3), .open .slim {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.open .morphable, .open .grid, .open .slim {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
    
    
/* TITLE */
.title1 {
    text-transform: uppercase;
    font-family: 'MontSerrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.015em;
}
.caption {
    margin: 50px 0 50px 0;
    text-align: center;
}

.title-caption {
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 1.35em;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-style: normal;
    display: none;
}

        /*  SPECIAL TITLE */
#footer-title {
    font-family: 'Playfair Display', serif;
    padding: 4% 0 1% 0;
    text-align: center;
    color: #242530;
    font-style: italic;
}
        /* SPECIAL STYLES */
#workshop_button, #about_button {
    font-family: "News Cycle", sans-serif;
    text-align: center;
    cursor: default;
    margin-top: 10%;
    -webkit-transition: all 0.1s ease-in;
    
            transition: all 0.1s ease-in;
}

/* TOOLS */
.open {
    display: inline;
}

.displayOn {
    display: block !important;
}

.big {
    font-size: 85px;
}

.small {
    font-size: 35px;
}

.xsmall {
    font-size: 17px;
    letter-spacing: 0.01em;
}

.white {
    color: #fff;
}

.transparent {
    color: rgba(0,0,0,0) !important;
}

/*
.white::after {
    content: '';
    width: 80px;
    display: block;
    background: #fff;
    height: 10px;
    margin: 20px auto;
    line-height: 1.1;
}
*/

.dark {
    color: #000;
}

.gray {
    color: #888;
}

/*
.dark::after {
    content: '';
    width: 80px;
    display: block;
    background: #000;
    height: 10px;
    margin: 20px auto;
    line-height: 1.1;
}
*/

.narrowHover:hover {
    letter-spacing: -0.5px;
}

/* HTML ELEMENTS */
a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.133em;
    line-height: 1.85; 
    font-family: 'Lato', sans-serif;
    color: #333;
}


/* particule panel */
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
    margin-top: -139px;
}

.btn {
    font-family: "News Cycle", sans-serif;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
    cursor: pointer;
}
.btn:hover, .btn:active, .btn:focus {
  color: #888;
  border-color: transparent;
    background: #fff;
}
/*Particles ends here*/

/* MEDIA QUERIES */
@media only screen and (max-width: 1170px) {
    figure.effect-romeo p {
        padding: 0;
    }
    
    figure.effect-romeo h2 {
        font-size: 1em;
    }
}


@media only screen and (max-width:885px) {    
    .title-caption {
        font-size: 1em;
    }

    .intro h1 {
        font-size: 48px;
    }
    .intro h1::after {
        height: 8px;
    }
    
    .small {
        font-size: 30px;
    }
}

@media only screen and (max-width:640px) {
    .title-caption {
        font-size: 1em;
    }
    
    .title1 {
        font-size: 35px;
    }
    
    .slim {
        width: 320px;
    }
    
    .slim p {
        font-size: 18px;
        line-height: 1.75;
        padding: 15px 10px 10px 10px;
    }
    
    .intro {
        padding: 0 10px;
    }
    .intro h1 {
        font-size: 30px;
    }
    .title1::after, .caption::after {
        height: 6px;
    }
    .intro p {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
    
    #workshop_button, #about_button {
        margin-top: 15%;
    }
    
    .grid {
        width: 100%;
        padding: 0 2em;
    }
    
    #footer-about {
        padding-top: 60px;
    }
    
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    h1::after {
        height: 4px;
    }
    #footer-about {
        padding-top: 60px;
    }
}

/* ANIMATION */
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

.bounce {
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
            transform-origin: center bottom;
    
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
